@font-face {
    font-family: 'MiFie';

    src: url('../fonts/MiFie-Web-Font.eot');
    src: url('../fonts/MiFie-Web-Font.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MiFie-Web-Font.woff') format('woff'),
    url('../fonts/MiFie-Web-Font.ttf') format('truetype'),
    url('../fonts/MiFie-Web-Font.svg#glyphicons_halflingsregular') format('svg');
}
.miFie {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'MiFie';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.miFiephone::before{
    content: "\e908";
}
.miFietel::before{
    content: "\e909";
}
.miFielogo::before{
    content: "\e920";
}
.miFieword::before{
    content: "\e93e";
}
.miFieE903::before{
    content: "\e903";
}
.miFieE906::before{
    content: "\e906";
}
.miFieE905::before{
    content: "\e905";
}
.miFieE907::before{
    content: "\e907";
}
.miFieE901::before{
    content: "\e901";
}
.miFieE900::before{
    content: "\e900";
}
.miFieE904::before{
    content: "\e904";
}
.miFieE902::before{
    content: "\e902";
}
.miFieE906::before{
    content: "\e906";
}
.miFieE908::before{
    content: "\e908";
}
.miFienew01::before{
    content: "\e90e";
}
.miFienew02::before{
    content: "\e90f";
}
.miFienew03::before{
    content: "\e910";
}
.miFienew04::before{
    content: "\e911";
}
.miFiepartner01::before{
    content:"\e946";
}
.miFiepartner02::before{
    content: "\e92f";
}
.miFiepartner03::before{
    content: "\e92e";
}
.miFiepartner04::before{
    content: "\e92a";
}
.miFiepartner05::before{
    content: "\e929";
}
.miFiepartner06::before{
    content: "\e931";
}
.miFiepartner07::before{
    content: "\e92c";
}
.miFiepartner08::before{
    content: "\e92b";
}
.miFiepartner09::before{
    content: "\e92d";
}